body {
  background: #eef5ff;
  font-family: "Roboto", sans-serif;
}
#weather-app {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(23, 107, 135, 0.1);
}

header {
  border-bottom: 1px solid #176b87;
  padding: 30px 0;
}
.search-form {
  margin: 0 auto;
}
.search-form-input {
  background: #eef5ff;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px 20px;
  font-size: 14px;
}

.search-form-submit {
  background: #176b87;
  border: none;
  border-radius: 8px;
  margin-left: 4px;
  padding: 15px 30px;
  font-size: 14px;
  color: #ffff;
}
a {
  color: #176b87;
}
footer {
  border-top: 1px solid #176b87;
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
