body {
  background: #eef5ff;
  font-family: "Roboto", sans-serif;
}
#weather-app {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(23, 107, 135, 0.1);
}
